body {
    font-family: Arial, sans-serif;
    background-color: #002b5c;
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 400px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    color: #002b5c;
}

h1 {
    color: #002b5c;
    margin-bottom: 20px;
}

h2 {
    color: #002b5c;
    margin-bottom: 10px;
}

.description {
    color: #002b5c;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    color: #002b5c;
}

input[type="number"],
select {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #002b5c;
    margin-bottom: 10px;
}

button {
    padding: 12px 20px;
    background-color: #002b5c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#sonuc {
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: #002b5c;
}

#ders-listesi {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
    text-align: left;
}

#ders-listesi li {
    margin-bottom: 5px;
}
